registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@next:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false